.cartItemCard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: hsl(0, 0%, 90%);
    width: 500px;
    max-height: 120px;
    overflow: hidden;
    padding: 10px 0px;
}

.imageBox {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 16px;
    background: #fff;
}

.imageBox .cartItemImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productDetails {
    grid-area: 1 / 2 / 2 / 5;
    margin-left: 15px;
}

.productCountAction {
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 10%);
    color: white;
    border-radius: 15px;
    width: 150px;
    height: 90%;
    gap: 2px;
}

.productCountAction button {
    width: 50px;
    height: 50px;
}

.productCountAction button:focus {
    outline: none;
}

.productCountAction span {
    display: inline-block;
    text-align: center;
    background-color: hsl(0, 0%, 30%);
    border-radius: 15px;
    width: 30px;
}

.productTitle {
    font-size: 1rem;
}

.productPrice {
    color: hsl(0, 0%, 10%);
    font-weight: 400;
    font-size: 1rem;
}

.productPrice span {
    color: hsl(0, 0%, 20%);
}

.productTotal {
    font-size: 1.1rem;
    font-weight: 600;
}
