.cartItemCard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: hsl(0, 0%, 90%);
    width: 500px;
    max-height: 120px;
    overflow: hidden;
    padding: 10px 0px;
}

.imageBox {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 16px;
    background: #fff;
}

.imageBox .cartItemImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productDetails {
    grid-area: 1 / 2 / 2 / 5;
    margin-left: 15px;
}

.buttons {
    grid-area: 1 / 5 / 2 / 6;
}
.productTitle {
    font-size: 1rem;
}

.productPrice {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(0, 0%, 10%);
}

.productPrice span {
    color: hsl(0, 0%, 20%);
}

.productTotal {
    font-size: 1.1rem;
    font-weight: 600;
}
