.productCardContainer {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    height: 450px;
    max-width: 350px;
    background-color: hsl(0, 5%, 31%);
    overflow: hidden;
    justify-content: space-between;
}

.imageBox {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 8px;
  background: #fff;
}

.imageBox .productImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productDetails {
    display: flex;
    flex-direction: column;
}

.flexPriceStars {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.flexStarsCount {
    display: flex;
    gap: 10px;
}

.flexStarsCount span {
    place-content: center;
    font-size: 1rem;
    color: hsl(0, 0%, 90%);
}